.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  border-bottom: 1px solid #ddd;
}

.nav a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--text-secondary);
}

.nav .active {
  color: #09f;
  font-weight: bold;
}